h1, h2, h3, h4, h5, a, p, button{
  font-family: $montserrat;
}

h1,
h2,
h3,
h4,
h5 {
  transition: color 1s ease;
  color: $white;
  font-weight: $semi-bold;
}

h1 {
  font-size: $xxxxx-large;
}

h2 {
  font-size: $xx-large;
}

h3 {
  font-size: $x-large;
}

h4 {
  font-size: $large;
}

a{
  font-size: $medium;
  font-weight: $regular;
  color: $white;
  
}

p {
  font-size: $medium;
  font-weight: $regular;
  line-height: 1.8;
  color: $white;
}

button {
  font-size: $medium;
  font-weight: $semi-bold;
}

