.outline-btn {
  background-color: transparent;
  border: 3px solid $beige;
  transition: background-color .5s;
  color: $beige;
  &:hover{
    background-color: $beige;
    color: $white;
  }
  &:focus{
    background-color: #8f8d66;
    border: 3px solid #8f8d66;
    color: $white;
  }
  &:focus, &:hover a{
    color: $white;
  }
}