.card{
  background-color: $accent-gray;
  margin-bottom: 1.5rem;
  border-radius: 7px;
  &__img{
    width: 100%;
    height: 13.5rem;
    overflow: hidden;
    border-radius: 7px 0 0 7px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info{
    padding: 1.5rem;
    &__title, &__description{
      margin-bottom: 1rem;
    }
  }
  &__tools{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;

    img {
      width: 2.5rem;
      margin: 0 1rem 1.5rem 0;
    }
  }
  &__btn {
    min-width: 130px;
    height: 40px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card {
    &__img {
      height: 25rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card {
    display: flex;
    align-content: center;
    &__img{
      min-width: 550px;
      max-width: 550px;
      height: 350px;
    }
    &__info{
      display: grid;
      align-content: center;
      padding: 0 3rem;
    }
    &__btn{
      margin-top: .5rem;
      width: 150px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) {
  .card {
    &__img {
      min-width: 850px;
      max-width: 850px;
      height: 500px;
    }
    &__info {
      padding: 0 3rem;
      &__title{
        font-size: 1.875rem;
        margin-bottom: 1.5rem;
      }
      &__description{
        margin-bottom: 2rem;
      }
    }
    &__tools {
      img {
        width: 3rem;
        margin: 0 1.5rem 2rem 0;
      }
    }
  }
}