.about {
  &__info{
    &__title {
      margin: 1.5rem 0 4rem 0;
      &:after {
        background: none repeat scroll 0 0 $beige;
        bottom: -15px;
        content: "";
        display: block;
        height: 5px;
        position: relative;
        width: 160px;
      }
    }
    &__text {
      text-align: justify;
      margin-bottom: 2.5rem;
    }
    &__tools{
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: space-between;
      img{
        width: 2.5rem;
        margin-bottom: 1.5rem;
      }
    }
    &__btn {
      margin-top: 1.5rem;
      width: 200px;
      height: 50px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__img{
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .about {
    &__info {
      text-align: center;
      &__title {
        &:after {
          left: 315px;
        }
      }
      &__tools{
        justify-content: space-evenly;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .about {
    &__info {
      text-align: left;
      &__title {
        margin-bottom: 2rem;
        &:after {
          width: 130px;
          margin-top: 1rem;
          position: inherit;
        }
      }
      &__tools {
        justify-content: start;
        img {
          margin-right: 2rem;
        }
      }
      &__btn {
        position: inherit;
      }
    }
    &__img {
      width: 400px;
      display: flex;
      place-items: center;
      justify-content: center;
      z-index: 1;
      &-wrapper{
        position: relative;
        display: flex;
        place-items: center;
        justify-content: center;
        width: 320px;
        height: 400px;
        img {
          width: 220px;
        }
        .outline {
          border: .4rem solid $beige;
          position: absolute;
          width: 220px;
          height: 294px;
          left: 0;
          top: 0;
          z-index: -1;
        }
        .full {
          background-color: $dark-gray;
          position: absolute;
          width: 220px;
          height: 294px;
          right: 0;
          bottom: 0;
          z-index: -1;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .about {
    &__img {
      width: 500px;
        &-wrapper{
          img {
            width: 240px;
          }
        .outline {
          width: 240px;
          height: 320px;
        }

        .full {
          width: 240px;
          height: 320px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) {
  .about {
    &__info {
      &__text {
        margin-right: 3rem;
      }
    }
    &__img {
      width: 750px;
      &-wrapper {
        width: 390px;
        height: 470px;
        img {
          width: 280px;
        }
        .outline {
          width: 280px;
          height: 300px;
        }
        .full {
          width: 280px;
          height: 300px;
        }
      }
    }
  }
}