.contact{
  color: $white;
  &__title{
    font-size: 2rem;
    margin-bottom: 3rem;
    &:after {
      background: none repeat scroll 0 0 $beige;
      bottom: -15px;
      content: "";
      display: block;
      height: 5px;
      position: relative;
      width: 100px;
    }
  }
  &__wrapper{
    margin-top: 1.3rem;
    background-color: $accent-gray;
    display: flex;
    border-radius: 5px;
    padding: .8rem 1.5rem;
    place-items: center;
    a{
      color: $white;
      text-decoration: none;
    }
    i{
      font-size: 1.4rem;
      margin-right: 1rem;
    }
  }
  &__links {
      margin-top: 2rem;
      list-style-type: none;
      font-size: 4rem;
      display: flex;
      justify-content: space-evenly;
      a{
        color: $beige;
      }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .contact {
    text-align: center;
    display: grid;
    justify-content: center;
    &__wrapper {
      margin-bottom: 0;
    }
  }
}