.navbar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  &__logo{
    width: 3rem;
  }
}
ul{
  display: none;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar {
    place-items: center;
    margin-bottom: 0;
  }
  ul{
    display: flex;
    li > a{
      text-decoration: none;
      margin-left: 1.5rem;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) {
  .navbar {
    &__logo {
      width: 4rem;
    }
  }
  ul {
    li>a {
      margin-left: 2.5rem;
    }
  }
}

