.navbar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  &__logo{
    width: 3rem;
  }
}

ul{
  display: none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar {
    place-items: center;
    margin-bottom: 0;
  }
  ul{
    display: flex;
    
    li > a{
      text-decoration: none;
      margin-left: 1.5rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

